@import "main.scss";

.content{
	width:100%;
	.titLisy{
		width:100%;
		overflow-x:hidden;
		h3{
			width:100%;
			padding:10.5px 20px;
			background:#eee;
			font-size: 17px;
		}
		ul{
			width:100%;
			box-sizing:border-box;
			border-top:1px solid #ddd;
			border-left:1px solid #ddd;
			overflow: hidden;

			li{
				width:33%;
				height:48.5px;
				text-align:center;
				line-height:50px;
				font-size:15px;				
				float:left;
				color:#666;
				border-right:1px solid #ddd;
				border-bottom:1px solid #ddd;
			}
		}
	}
}
